@model UserPanelDTO
@if (Model.IsAuthorized)
{
    <form class="form-inline">
        <div class="btn-group" id="login-menu">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @Model.FullName
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="@Url.Action("Index", "ChangePassword", new { Area ="System"})">@Resources.TopMenu_Change_Password</a>
                <a class="dropdown-item" href="@Url.Action("Index", "UserProfile", new { Area ="System"})">@Resources.TopMenu_Profile</a>
                <a class="dropdown-item" href="@Url.Action("Logout", "Login", new { Area ="System"})">@Resources.TopMenu_Logout</a>
            </div>
        </div>
    </form>
}
else
{
    <form class="form-inline">
        <div class="btn-group" id="login-menu">
            <a class="btn dropdown-toggle" href="#">
                @Resources.TopMenu_Login
            </a>
        </div>
    </form>
}
