@model PermitObjectDTO
@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
}

@await Component.InvokeAsync("FormTitle")

<div id="form-container">
    @await Html.PartialAsync("_ErrorAlert")

    @using (Html.BeginForm("UpdatePermitObject", controllerName, FormMethod.Post, new { Area = areaName, id = "UpdatePermitObjectForm" }))
    {

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.Created)
        @Html.HiddenFor(m => m.CreatedBy)

        @(Html.DevExtreme().Form<PermitObjectDTO>().ID("form").ColCount(4).Items(items =>
                                                                {
                                                                    items.AddGroup().Caption(Resources.PermitObject_Info).Items(groupItems =>
                                                                    {
                                                                        groupItems.AddSimpleFor(m => m.Code).Editor(e => e.TextBox().ReadOnly(true));
                                                                        groupItems.AddSimpleFor(m => m.Name).IsRequired(true);
                                                                        groupItems.AddSimpleFor(m => m.Description)
                                                                        .Editor(e => e.TextArea().Height(80)).ColSpan(2);
                                                                    }).ColSpan(4).ColCount(4);

                                                                    items.AddGroup().Caption(Resources.Controller_List).Items(groupItems =>
                                                                    {
                                                                        groupItems.AddSimpleFor(m => m.ControllerList).Editor(e => e.TagBox().DataSource(d => d.Mvc().LoadAction("GetControllers").Key("Id")).DisplayExpr("Name").ValueExpr("Id").SearchEnabled(true).ShowSelectionControls(true).HideSelectedItems(true).ShowClearButton(true).Placeholder(Resources.Dropdown_Placeholder)).ColSpan(4);
                                                                    }).ColSpan(4);

                                                                    items.AddGroup().Caption(Resources.Sidebar_List).Items(groupItems =>
                                                       {
                                                           groupItems.AddSimpleFor(m => m.SelectedSidebars).Editor(e => e.TagBox().DataSource(d => d.Mvc().LoadAction("GetSideBars").Key("Id")).DisplayExpr("Name").ValueExpr("Id").SearchEnabled(true).ShowSelectionControls(true).HideSelectedItems(true).ShowClearButton(true).Placeholder(Resources.Dropdown_Placeholder)).ColSpan(4);
                                                       }).ColSpan(4);

                                                                }).ValidationGroup("PermitObject").FormData(Model) )
        <hr />

        <div class="row">
            <div class="col-md-12 text-right">
                @(Html.DevExtreme().Button().Text(Resources.PermitObject_Cancel).UseSubmitBehavior(false).Width(100).OnClick("goBack")
                )
                @(Html.DevExtreme().Button().Text(Resources.PermitObject_Submit).Type(ButtonType.Success).UseSubmitBehavior(true).ValidationGroup("PermitObject").Width(100)
                )
            </div>
        </div>
    }
</div>

<script>
    function goBack() {
        window.location.href = '@Url.Action("Index", controllerName, new { Area = areaName })'
    }
</script>