@model UserConfigDTO
@section Localization {
    <script src="~/js/devextreme-intl.min.js"></script>
    <script src="~/js/polyfill.min.js?features=Intl.~locale.en,Intl.~locale.vi"></script>
    <script src="~/js/devextreme/localization/dx.messages.vi.js"></script>
}

@{
    var controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var areaName = ViewContext.RouteData.Values["area"].ToString();
}

@await Component.InvokeAsync("FormTitle")

@using (Html.BeginForm("Config", controllerName, FormMethod.Post, new { Area = areaName, id = "UserConfigForm" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Created)
    @Html.HiddenFor(m => m.CreatedBy)
    @Html.HiddenFor(m => m.Updated)
    @Html.HiddenFor(m => m.UpdatedBy)
    @Html.HiddenFor(m => m.Active)
    @Html.HiddenFor(m => m.Deleted)
    @*@Html.HiddenFor(m => m.UserId)*@

    @(Html.DevExtreme().Form<UserConfigDTO>
                                        ().ID("form").ColCount(4).Items(items =>
                                        {
                                            items.AddGroup().Caption(Vinorsoft_NHNN_Report_DevEx_App_Resource.User_Info).Items(groupItems =>
                                            {
                                                groupItems.AddSimpleFor(m => m.EmployeeNumber).Editor(e => e.TextBox().ReadOnly(true));
                                                groupItems.AddSimpleFor(m => m.FullName).Editor(e => e.TextBox().ReadOnly(true));
                                                groupItems.AddSimpleFor(m => m.ParentDeptName).Editor(e => e.TextBox().ReadOnly(true));
                                                groupItems.AddSimpleFor(m => m.DeptName).Editor(e => e.TextBox().ReadOnly(true));
                                                groupItems.AddSimpleFor(m => m.JobtitleName).Editor(e => e.TextBox().ReadOnly(true));
                                                groupItems.AddSimpleFor(m => m.IsNoCaculate);
                                            }).ColSpan(4).ColCount(4);
                                        }).ValidationGroup("User").FormData(Model)
    )

    <hr />

    <div class="row">
        <div class="col-md-12 text-right">
            @(Html.DevExtreme().Button().Text(Vinorsoft_NHNN_Report_DevEx_App_Resource.Button_Cancel).UseSubmitBehavior(false).Width(100).OnClick("goBack")
            )
            @(Html.DevExtreme().Button().Text(Vinorsoft_NHNN_Report_DevEx_App_Resource.Button_Save).Type(ButtonType.Success).UseSubmitBehavior(true).ValidationGroup("User").Width(100)
            )
        </div>
    </div>
}

<script>
     function goBack() {
        window.location.href = '@Url.Action("Index", controllerName, new { Area = areaName })'
    }
</script>
